@charset "UTF-8";
/*css 初始化 */

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,
form,fieldset,legend,img {
    margin: 0;
    padding: 0;
}
fieldset,img,input,button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul,ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
select,input {
    vertical-align: middle;
}
select,input,textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}
h1,h2,h3,h4,h5,h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s,i,em {
    font-style: normal;
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfloat:after{
    display: block;
    clear:both;
    content: "";
    visibility:hidden;
    height: 0;
}
.clearfloat{
    zoom:1;
}
/*页面样式*/
.btn-default{
    color: #ffffff;
    background-color: #3385ff;
    border-bottom: 1px solid #2d78f4;
    cursor: pointer;
}
.margin-left{
    margin-left: 20px;
}

.container{
    min-width: 810px;
    min-height: 600px;
    height: 100%;
    display: block;
    overflow: hidden;
}
.top{
    padding: 10px 0;
}
.top nav{
    padding: 0 96px 0 0 ;
}
.top nav a{
    margin-left: 20px;
    line-height: 28px;
    font-size:14px;
    color: #333333;
    font-weight: bold;
}
.top .more{
    position: absolute;
    right: 10px;
    top: 10px;
}
.top .more .show-more{
    width: 60px;
    height: 28px;
    line-height: 28px;
    padding: 3px 5px;
}
.more-div{
    opacity: 0;
    filter: alphe(opacity=0);
}
.more-div:hover{
    opacity: 1;
    filter: alphe(opacity=100);
}
.more-div{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    width: 65px;
    padding:5px 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #dddddd;    
}

.more-div span,.more-div span a{    
    padding-bottom: 10px;
    color: #333333;
    line-height: 35px;
}
.more-div .more-title{
    padding-left: 10px;
    border-bottom: 1px solid #dddddd;
}
.more-div ul li{
    padding: 10px 15px;
    margin-top:10px;
    border-bottom: 1px solid #dddddd;
}
.more-div ul li a{
    color: #333333;
    line-height: 25px;
}
.more-div ul li a span{
    width: 36px;
    height: 36px;
    display: block;
}
.more-div ul li a span{
    background-image: url("../images/bdbri_icons.png"); 
    background-repeat: no-repeat;
}
.more-div ul li a span.music{    
    background-position: -73px 0;
}
.more-div ul li a span.picture{
    background-position: -112px 0;
}
.more-div ul li a span.knowledge{
    background-position: -36px 0;
}
.more-div ul li a span.books{
    background-position: -148px 0;
}
.more-div ul li a span.ranks{
    background-position: -185px 0;
}
.more-div ul li a p{
    width: 36px;
    text-align: center;
}
.logo{
    margin:15% auto 0 auto;
    width:270px;
}
.logo img{
    width:270px;
    height:127px;
}
.wrapper{
    margin: 0 auto;
    width: 640px;
}
.wrapper .input-border {
    width: 539px;
    height:35px;
    border:1px solid #dddddd;
    border-right:none;
}
.wrapper .search-input{
    width: 500px;
    line-height: 35px;
    padding-left: 5px;
}
.camera{
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
    width:18px;
    height:16px;
    background-image: url("../images/camera.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    cursor: pointer;
}
.camera:hover{
    background-position: 0 -20px;
}
.wrapper .search-btn{
    width: 100px;
    height:37px;
    line-height: 37px;
}
.wrapper .search-btn:hover{
    background-color: #2d78f4;
}

.footer-wrap{
    width: 640px;
    margin:0 auto;
}
.footer {
    position: absolute;
    bottom: 50px;
    margin-right: 20px;
}
.footer .info{
    display: inline-block;
    padding-right: 30px;
}
.footer p{
    color: #999;
    font-size: 12px;
    line-height: 23px;
}
.footer a{
    color: #999;
    font-size: 12px;
}
.footer .qrcode-text{
    margin:10px 0 0 10px;

}
.footer .qrcode{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.footer .others a{
    margin-right: 20px;
}
.footer .icon-copyright{
    position: absolute;
    width: 14px;
    height: 17px;
    background-image: url("../images/icons.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: -600px -95px;
}
.footer .icon-recordcode{
    position: absolute;
    width: 14px;
    height: 17px;
    background-image: url("../images/icons.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: -623px -95px;
    margin-right: 2px;
}